header .container {
    padding: 40px 0;
    justify-content: space-between;
    display: flex;
}

.logo {
    display: inline-block;
}

header .right-side {
    display: inline-block;
    color: #B3B3BA;
    width: 478px;
    ul {
        display: inline-block;
        li {
            display: inline-block;
            padding: 7px;
            vertical-align: middle;
        }
    }

    ul.lang  li:hover {
        border-radius: 5px;
        background-color: #F0145A;
        color: #FFFFFF;

    }
    address {
        display: inline-block;
    }

    ul.contacts li {
        list-style-type: disc;
        a {
            text-decoration: none;
            color: #B3B3BA;
            font-weight: bold;
        }
    }

    nav {
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        a {
            color: #24A3FF;
            text-decoration: none; 
            font-weight: bold; 
        }
        a:hover {
            color: #F0145A;
        }
    }
}

.center {
    text-align: center;
}

.publications {
    background: #F5F5FA;
}

.article {
    width: 400px;
    img {
        width:100%;
        object-fit: cover;
        border-radius: 8px 8px 0px 0px;
     }

    .content {
        padding: 20px;
    }

    .date {
        text-transform: uppercase;
        color: #B3B3BA;
        font-size: 12px;
        font-weight: bold;
        padding: 10px 0;
        border-bottom: 4px solid #E6E6F0;
    }

    .text {
        padding: 10px 0;
        font-size: 14px;
    }
}

h2 {
    color: #24A3FF;
    font-weight: bold;
}
.container {
    width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.publications .container {
    padding: 20px 0;
}

.button-publications {
    display: inline-block;
    background-color: #E6E6F0;
    border-radius: 12px;
    border: 1px solid #E6E6F0;
    span {
        display: inline-block;
        padding: 10px 25px;
        font-weight: bold; 
        border-radius: 12px;
    }
    span.active {
        background-color: #fff;
    }
}

.box-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
}

.button-blue {
    display: inline-block;
    padding: 10px 20px;
    background-color: #24A3FF;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

footer {
    background-color: #F5F5FA;
}

footer .container {
    border-top: 2px solid #E6E6F0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

footer .left-side {
    display: inline-block;
    address {
        size: 16px;
    }
    img {
        padding: 5px;
        vertical-align: middle;
    }

    b {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }
}

footer .right-side {
    display: inline-block;
    color: #B3B3BA;
}